****公用样式*****/
html {
	overflow-y:scroll;
}
body {
	margin:0px; 
	padding:0px; 
	font:12px/1.5 \5b8b\4f53,Arial,sans-serif;
	color:#252525;
}
h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li {
	margin:0px;
	padding:0px;
	font-weight:normal;
}
ul,li,ol {
	list-style:none;
}
a {
	color:#252525; 
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {
	color:#ba2636;
	text-decoration:underline;
}
a:active {
	color:#ba2636;
}
a.aztys4 {
	color:#444;
}
a.aztysH:hover {
	color:#ba2636;
}
img {
	vertical-align:middle;
}
.clearBox:after {
	content:"";
	display:block;
	clear:both;
}
.clear {
	clear:both;
}
.martopBox:before {
	content:"";
	display:table;
}
input {
	border:none;
}
input:focus {
	outline:none;
}
.clear {
	clear:both;
}
.mb60 {
	margin-bottom:60px;
}
/*********页头导航开始********/
body {
	padding-top:45px; 
}
header {
	width:100%;
	height:45px;
	background:#333333;
	position: fixed;
	z-index: 30;
	top:0;
}
/*.headerContainer {
	
}*/
header>div>ul>li>a {
	display:inline-block;
	height:45px;
	line-height:45px;
}
.header_lf>li>a {
	color:#fff;
	padding:0px 20px;
}
.header_con>ul {
	float:left;
}
.header_con>ul:last-child {
	float:right;
}
.header_con>ul>li {
	float:left;
}
header i {
	border-color:#c2c2c2 transparent transparent;
	border-style:solid dashed dashed;
	border-width:4px 4px 0;
	display:inline-block;
	margin-left:8px;
	vertical-align:middle;
}
header li {
	position:relative;
}
.header_lf li:first-child a:hover,.header_lf li:first-child a.hover {
	text-decoration:none;
}

.header_lf>li:first-child>a:hover,
.header_lf>li:first-child>a.hover,
.header_lf>li:last-child>a:hover,
.header_lf>li:last-child>a.hover {
	background:#1E1E1E;
}
.header_lf li:first-child a:hover i,
.header_lf li:first-child a.hover i,
.header_lf li:last-child a:hover i,
.header_lf li:last-child a.hover i {
	transform:rotate(180deg);
	transition:transform .15s linear;
}
.login-box>a {
	background-image:linear-gradient(to top,#e11515,#bb0e0e);
}
.header_lf .login-box>a:hover,
.header_lf .login-box>a.hover {
	text-decoration:none;
	background-image:linear-gradient(to top,#cd0c0c,#a20000);
}
.header_lf>li:nth-child(3) {
	margin-left:165px;
	text-decoration:none;
}
.header_lf>li:nth-child(3)>a:hover {
	text-decoration:none;
}
.header_con .header_lf .logined-box {
	margin-left:225px;
}
.header_lf .logined-box>a {
	padding:0;
}
.header_lf .login-box {
	border-bottom:4px solid #8f2f2f;
	box-shadow:0 -8px 8px #000;
}
#user-ul {
	display: none;
	width:135px;
}
#user-ul a {
	width:115px;
}
.header_rt {
	border-left:1px solid #1f1f1f;
	border-right:1px solid #3f3f3f;
}
.header_rt>li>a {
	border-left:1px solid #3f3f3f;
	border-right:1px solid #1f1f1f;
}
.header_rt s {
	display:inline-block;
	width:19px;
	height:15px;
	background:url(../images/nav_sprite_v37.png) no-repeat -3px -27px;
	margin-left:7px;
	vertical-align:middle;
}
.header_rt i {
	margin:0px 6px;
}
.header_rt>li>a:hover,
.header_rt>li>a.hover {
	background:#1E1E1E;
	border-left:1px solid transparent;
}
.header_rt a:hover i,
.header_rt a.hover i {
	transform:rotate(180deg);
	transition:transform .15s linear;
}
.header_rt li:last-child s {
	margin-right:5px;
	background-position:0px -542px;
	width:25px;
	height:24px;
}
.header_rt li:nth-child(1) s {
	background-position:0px -399px;
	width:54px;
	height:14px;
}
.header_rt li:nth-child(3) s {
	background-position:-4px -49px;
	width:17px;
	height:17px;
}
.header_rt li:nth-child(4) s {
	background-position:-2px -506px;
	width:22px;
	height:15px;
}
.header_rt li:nth-child(5) s {
	background-position:0px -96px;
	width:21px;
	height:18px;
}
.header_rt li:nth-child(6) s {
	background-position:-5px -481px;
	width:12px;
	height:17px;
}
.header_rt li:nth-child(7) s {
	background-position:-1px -120px;
	width:46px;
	height:14px;
}
/*********页头导航结束********/
/*******页头pop开始*******/
header>div>ul li>div {
	position:absolute;
	left:0px;
	top:45px;
	z-index:2;
	padding-top:10px;
	display:none;
}
header>div>ul li>div.bobo_pop_rt {
	left:-60px;
}
header>div>ul li>div.news_pop_rt {
	left:-110px;
}
/*******页头pop通用样式开始*******/
.headerPop {
	background:#fff;
	padding:5px 0px;
	border:1px solid #CDCDCD;
}
.headerPop a {
	width:115px;
	display:block;
	height:32px;
	padding:0px 10px;
}
.headerPop a:hover {
	background:#F2F2F2;
	text-decoration:none;
	color:#252525;
	font-weight:bold;
}
.headerPop a span {
	display:block;
	height:32px;
	line-height:32px;
	border-bottom:1px dashed #cdcdcd;
}
.headerPop a:hover span {
	border-bottom:1px dashed transparent;
}
.headerPop li:last-child a span {
	border-bottom:1px dashed transparent;
}
/*******页头pop通用样式结束*******/
/*******页头apply_pop开始*******/
.apply_pop {
	width:135px;
	height:385px;
}
.apply_pop a:hover {
	font-weight:normal;
}
.apply_pop a span {
	padding-left:30px;
	background:url(../images/nav_sprite_v37.png) no-repeat 0px -155px;
}
.apply_pop li:nth-child(2) a span {
	background-position:0px -365px;
}
.apply_pop li:nth-child(3) a span {
	background-position:0px -275px;
}
.apply_pop li:nth-child(4) a span {
	background-position:0px -245px;
}
.apply_pop li:nth-child(5) a span {
	background-position:0px -215px;
}
.apply_pop li:nth-child(6) a span {
	background-position:0px -185px;
}
.apply_pop li:nth-child(7) a span {
	background-position:0px -305px;
}
.apply_pop li:nth-child(8) a span {
	background-position:0px -335px;
}
.apply_pop li:nth-child(9) a span {
	background-position:0px -413px;
}
.apply_pop li:nth-child(10) a span {
	background-position:0px -443px;
}
.apply_pop li:nth-child(11) a span {
	background-position:0px -589px;
}
.apply_pop li:nth-child(12) a span {
	background-position:0px -630px;
}
/*******页头apply_pop结束*******/
/*******页头register_pop开始*******/
.register_index_pop {
	width:223px;
	background:#fff;
	padding-top:20px;
	padding-left:37px;
	padding-bottom: 15px;
	border:1px solid #CDCDCD;
}
.register_index_pop input[type="text"],.register_index_pop input[type="password"] {
	width:182px;
	height:30px;
	border:1px solid #DDDDDD;
	color:#666;
	padding-left:3px;
	margin-bottom:15px;
}
.register_index_pop>a {
	display:block;
	width:185px;
	height:30px;
	border:1px solid #239438;
	background-image:linear-gradient(to top,#3CA051,#5DB96C);
	margin:10px 0;
	color:#fff;
	text-align:center;
	line-height:30px;
}
.register_index_pop>a:hover {
	text-decoration:none;
}
.register_index_pop input[type="checkbox"] {
	vertical-align:middle;
}
.register_index_pop .login-error {
	color:#FA6D6D;
	display:none;
}
/*******页头register_pop结束*******/
/*******页头login_email_pop开始*******/
.login_email_pop {
	width:210px;
	/*height:70px;*/
}
.login_email_pop a {
	width:190px;
}
/*******页头login_email_pop结束*******/
/*******页头bobo_pop开始*******/

/*******页头bobo_pop结束*******/
/*******页头news_pop开始*******/

/*******页头news_pop结束*******/
/*******页头pop结束*******/


/*******页尾部分的版权开始*******/
.copyright {
	width:100%;
	background:#333333;
	height:28px;
	padding-top:11px;
}
.nav_foot,.nav_foot a {
	color:#DDDDDD;
}
.nav_foot ul li {
	float:left;
	border-right:1px solid #616161;
	padding:0px 12px;
	height:16px;
}
.nav_foot ul li:first-child {
	padding-left:0px;
}
.nav_foot ul li:last-child {
	border-right:none;
}
.nav_foot span {
	font-family:Arial;
}
/*******页尾部分的版权结束*******/
/*******aside 开始*******/
#aside {
	position:fixed;
	right:125px;
	bottom:200px;
	display: none;
}
#aside li {
	width:60px;
	height:76px;
	background:url(../images/sprite_dw2.png) no-repeat 0px -43px;
	margin-bottom:10px;
}
#aside li:last-child {
	background-position:8px 18px;
	height:60px;
	background-color:#ddd;
	cursor:pointer;
}
/*******aside 结束******